<script lang="ts">
import Vue from 'vue';
import { SlpButton, SlpIcon } from 'slippers-ui';

/**
 * Pagination component to handle any pagination. TODO: Create a generic pagination component in Slippers
 */
export default Vue.extend({
  name: 'SlpSearchPagination',
  components: {
    SlpButton,
    SlpIcon,
  },
  props: {
    totalPages: {
      type: Number,
      required: true,
    },
    perPage: {
      type: Number,
      required: true,
    },
    currentPage: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      maxVisibleButtons: 5,
    };
  },
  computed: {
    startPage() {
      if (this.currentPage === 1) {
        return 1;
      }

      if (this.currentPage === this.totalPages) {
        return (
          Number(this.totalPages + 1) - Number((this as any).maxVisibleButtons)
        );
      }

      if (Number(this.currentPage - 2) <= 0) {
        return Number(this.currentPage) - 1;
      }

      return Number(this.currentPage) - 2;
    },
    pages() {
      const range = [];

      for (
        let i = (this as any).startPage;
        i <=
        Math.min(
          Number((this as any).startPage) +
            Number((this as any).maxVisibleButtons) -
            1,
          Number(this.totalPages),
        );
        i++
      ) {
        range.push({ name: i, isDisabled: i === this.currentPage });
      }

      return range;
    },
    isInFirstPage() {
      return this.currentPage === 1;
    },
    isInLastPage() {
      return this.currentPage === this.totalPages;
    },
  },
  methods: {
    onClickPreviousPage() {
      this.$emit('pageChange', Number((this as any).currentPage) - 1);
    },
    onClickPage(page: number) {
      this.$emit('pageChange', page);
    },
    onClickNextPage() {
      this.$emit('pageChange', Number((this as any).currentPage) + 1);
    },
    isPageActive(page: number) {
      return this.currentPage === page;
    },
  },
});
</script>

<template>
  <div class="pagination">
    <ul>
      <li v-if="!isInFirstPage && totalPages !== 0">
        <SlpButton
          variant="secondary"
          :disabled="isInFirstPage"
          @click.native="onClickPreviousPage()"
        >
          <SlpIcon class="slp-mr-8" name="chevron-lg-left" variant="product" />
          Previous
        </SlpButton>
      </li>
      <li v-for="page in pages" :key="page.name">
        <SlpButton
          class=""
          variant="secondary"
          :disabled="page.isDisabled"
          :class="{ 'pagination--active': isPageActive(page.name) }"
          @click.native="!page.isDisabled && onClickPage(page.name)"
        >
          {{ page.name }}
        </SlpButton>
      </li>
      <li v-if="!isInLastPage && totalPages !== 0">
        <SlpButton
          variant="secondary"
          :disabled="isInLastPage"
          @click.native="onClickNextPage()"
        >
          Next
          <SlpIcon class="slp-ml-8" name="chevron-lg-right" variant="product" />
        </SlpButton>
      </li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
@import '~slippers-ui/src/styles/_variables.scss';
@import '~slippers-ui/src/styles/base.scss';

.pagination {
  display: flex;
  justify-content: flex-end;
  padding: $spacing-24;

  &--active {
    background-color: $color-surface-800 !important;
    color: $color-primary-200 !important;
  }

  ul {
    display: flex;

    .slp-btn {
      justify-content: center;
      padding: $spacing-4 12px;
      margin: 0;
      min-width: unset;

      &:not(.slp-btn-disabled) {
        color: $color-surface-700;
      }

      &:hover:not(.slp-btn-disabled) {
        background-color: #e3d6ff;
      }
    }
  }
}
</style>
