<script lang="ts">
import Vue from 'vue';
import { init, refresh } from 'aos';
import SlpNavigationHOC from '~/components/navigation/navigation-hoc.vue';
import GartnerBanner from '~/components/navigation/gartner.vue';

export default Vue.extend({
  components: {
    GartnerBanner,
    SlpNavigationHOC,
  },
  head() {
    let path;
    if (this.$route.path === '/') {
      path = 'https://about.gitlab.com/';
    } else if (this.$route.path.endsWith('/')) {
      path = `https://about.gitlab.com${this.$route.path}`;
    } else {
      path = `https://about.gitlab.com${this.$route.path}/`;
    }
    return {
      link: [
        {
          rel: 'canonical',
          href: path,
        },
      ],
    };
  },
  async beforeMount() {
    if (this.$route.path.endsWith('index.html')) {
      const queryParams = this.$route.query;
      const oldPath = this.$route.path.replace(/(\W*index\.html\W*)/g, '');
      this.$router.replace({
        path: `${oldPath}/`,
        query: queryParams,
      });
    }
    let fileName =
      this.$route.path.replace(/(^\/)|(\/$)/g, '') || this.$route.name;
    let content;

    try {
      content = await this.$content(fileName).limit(2).fetch();
    } catch (e) {
      // eslint-disable-next-line no-console
      console.error(`File not found in the content folder : ${fileName}`);
    }

    if (Array.isArray(content)) {
      fileName = `${fileName}/index`;
    }

    // PATCH: fixes error with viewing page source on English homepage
    if (fileName === 'index___en-us') {
      fileName = 'index';
    }

    document.addEventListener('navSearch', (event) => {
      this.$router.push({
        path: '/search',
        query: { searchText: event.detail.searchText },
      });
    });

    document.addEventListener('webIDE', () => {
      window.location.href = `https://gitlab.com/-/ide/project/gitlab-com/marketing/digital-experience/buyer-experience/edit/main/-/content/${fileName}.yml`;
    });

    document.addEventListener('viewPageSource', () => {
      window.location.href = `https://gitlab.com/gitlab-com/marketing/digital-experience/buyer-experience/-/blob/main/content/${fileName}.yml`;
    });

    init({
      once: true,
    });
  },
  mounted() {
    refresh();
  },
});
</script>

<template>
  <div>
    <!-- <HomeTopBanner /> -->
    <GartnerBanner />
    <SlpNavigationHOC />
    <Nuxt role="main" />
    <SlpFooter />
  </div>
</template>
