<script>
export default {
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
};
</script>

<template>
  <SlpContainer variant="light-purple-100">
    <div class="intro-container">
      <div class="title slp-mr-md-64">
        <SlpTypography variant="heading3-bold" tag="h2">
          {{ data.title }}
        </SlpTypography>
      </div>
      <div class="subtitle">
        <SlpTypography
          variant="heading5"
          v-html="$md.render(data.subtitle)"
        ></SlpTypography>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.intro-container {
  display: flex;
  padding: $spacing-48 0;
  flex-direction: column;
  @media (min-width: $breakpoint-lg) {
    flex-direction: row;
    padding: $spacing-96 0;
  }
  .title {
    min-width: 50%;
    margin-bottom: $spacing-32;
    @media (min-width: $breakpoint-lg) {
      margin-bottom: 0;
    }
  }
  .subtitle:deep(p) {
    margin-bottom: 32px;
  }
  .subtitle:deep(strong) {
    font-weight: 600;
  }
}
</style>
