<script lang="ts">
import Vue from 'vue';
import { MetaInfo } from 'vue-meta/types/vue-meta';
import {
  Hero,
  Categories,
  Badges,
  PricingTiers,
} from '../components/why/index.vue';
import { getPageMetadata } from '~/common/meta';

export default Vue.extend({
  components: {
    Hero,
    Categories,
    Badges,
    PricingTiers,
  },
  nuxtI18n: false,
  async asyncData({ $content }) {
    const data = await $content('why-gitlab').fetch();
    return { data };
  },
  data() {
    return {};
  },
  head(): MetaInfo {
    return getPageMetadata((this as any).data, this.$route.path);
  },
});
</script>

<template>
  <div>
    <Hero v-bind="data.hero" />
    <Categories v-bind="data.categories_block" />
    <Badges v-bind="data.badges" />
    <PricingTiers v-bind="data.pricing" />
  </div>
</template>
