<script lang="ts">
import Vue, { PropType } from 'vue';

interface City {
  name: string;
  state: string;
  month: string;
  day: string | number;
  href: string;
  image: {
    src: string;
    alt?: string;
  };
}

interface Region {
  name: string;
  cities: City[];
}

export default Vue.extend({
  props: {
    regions: {
      type: Array as PropType<Region[]>,
      required: true,
    },
  },
});
</script>

<template>
  <SlpContainer>
    <div id="cities" class="cities-container">
      <div
        v-for="region in regions"
        :key="region.name"
        class="region slp-mb-96"
      >
        <SlpTypography variant="heading2-bold" tag="h2" class="header">{{
          region.name
        }}</SlpTypography>
        <div class="city-cards">
          <a
            v-for="(city, index) in region.cities"
            :key="city.name"
            :href="city.href"
            class="city"
          >
            <SlpTypography variant="body1-bold" tag="p" class="date slp-mb-16"
              >{{ city.month }} {{ city.day }}</SlpTypography
            >
            <div
              class="gradient"
              :class="{
                light: index % 3 === 0,
                medium: index === 1 || (index - 1) % 3 === 0,
                dark: (index + 1) % 3 === 0,
              }"
            >
              <SlpTypography variant="heading4-bold" tag="p" class="name"
                >{{ city.name }}{{ city.state ? ',' : '' }}
                {{ city.state }}</SlpTypography
              >
              <img
                class="city-image"
                loading="lazy"
                :src="city.image.src"
                :alt="city.image.alt"
              />
            </div>
          </a>
        </div>
      </div>
    </div>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.cities-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 120px;
  .header {
    margin-bottom: 64px;
    position: relative;
    &::before {
      content: url('/nuxt-images/events/world-tour/banner-decoration.png');
      position: absolute;
      top: -100%;
      left: -4%;
    }
  }
}

.city-cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 62px 22px;
  @media (min-width: $breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
  .city {
    color: white;
    display: block;

    &:hover {
      .gradient {
        border-radius: 0px 0px 90px 0px;
      }
    }
    .date {
      color: $color-text-300;
    }
    .gradient {
      background-repeat: no-repeat;
      overflow: hidden;
      background-size: cover;
      transition: all 0.2s;
      display: flex;

      flex-direction: column;
      .city-image {
        max-width: 100%;
        height: 220px;
        object-fit: contain;
        align-self: center;
      }
      .name {
        padding-top: 26px;
        padding-left: 36px;
        max-height: 66px;
      }
      &.light {
        background-image: url('/nuxt-images/events/world-tour/card-gradient-1.png');
      }
      &.medium {
        background-image: url('/nuxt-images/events/world-tour/card-gradient-2.png');
      }
      &.dark {
        background-image: url('/nuxt-images/events/world-tour/card-gradient-3.png');
      }
    }
  }
}
</style>
